.counter {
  border: 3px solid #005AA7;
  width: 500px;
  border-radius: 20px;
  padding: 20px;
}
.counter-display{
  background-color: #005AA7;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 20px;
  height: 150px ;
  padding: 10px 20px;
}

.button-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #005AA7;
  padding: 20px;
  border-radius: 20px;
}

.counter-button{
  font-size: 30px;
  padding: 10px 30px;
  background-color: #005AA7;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.counter-button:hover {
  background-color: #2978bc;
}

.counter-button:disabled{
  opacity: 0.5;
  cursor: not-allowed;
}

.red{
  color: red;
  font-size: 80px;
}

.black {
  color: white;
  font-size: 70px;
  font-weight: bold;
}

.label-count {
  display: flex;
  margin-bottom:20px;
  font-size: 20px;
  gap: 30px;
  justify-content: space-between;
  width: 100%;
}

.label-count:last-child{
  margin-bottom: 0;
}
.input-error{
  background-color: #a53b86;
}